body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.AA{
  text-decoration: none;
  color:red;
}
.No-Dec{
  text-decoration: none !important;
  color:black;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

/* Nav bar New Design*/
.nav-bar{
  background-color: slateblue !important;
}
.navbar-light .navbar-brand , .navbar-light .navbar-nav .nav-link{
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: white;
}

/* Nav bar New Design*/